*
  box-sizing: border-box

body
  background: #202224
  display: flex
  font: 16px / 1 -apple-system, system-ui, BlinkMacSystemFont, sans-serif
  justify-content: center
  margin: 0
  text-align: center
